<a href="https://colab.research.google.com/github/maicon-reis/python-em-topicos/blob/main/5_Truques_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Truque 1**

### Utilizando f-strings para otimizar o código.

In [1]:
name = 'Maicon'

print(f'Olá, {name}.')

Olá, Maicon.

In [2]:
number = 1200000

# Utilizando f-strings com separaddor
print(f'A empresa vale atualmente R$ {number:,d}')

A empresa vale atualmente R$ 1,200,000

In [3]:
number = 1200000

# Utilizando f-strings com casas decimais
print(f'A empresa vale atualmente R$ {number:.2f}')

A empresa vale atualmente R$ 1200000.00

#**Truque 2**

### Formas de combinar ítens de uma lista.

In [6]:
# Criando uma lista qualquer
lista_qualquer = ['Data', 'Science', 'Machine', 'Learning']

In [7]:
# Forma 1
# Iterando sobre a lista e acrescentando as strings a uma única string.

frase = ""

for palavra in lista_qualquer:
    frase += palavra + " "

print(frase)

Data Science Machine Learning

In [9]:
# Forma 2
# Utilizando o método join. Você pode usar o separador que preferir, nesse
# caso foi utilizado o espaço.

print(" ".join(lista_qualquer))

Data Science Machine Learning

#**Truque 3**

###Encontrando o item mais frequente em uma lista ou string

In [10]:
string_qualquer = 'aaaaaabbbbbccccdddee'

In [11]:
# Forma 1
# Utilizando o Método Counter

from collections import Counter

# Instanciando o método Count
cnt = Counter(string_qualquer)

# A função most_common() retorna a contagem dos caracteres em ordem decrescente.
cnt.most_common(1)

[('a', 6)]

In [12]:
# Simplificando a função
Counter(string_qualquer).most_common(1)[0][0]

'a'

In [13]:
# Forma 2
# Utilizando a função built-in max configurando o parâmetro nomeado key para
# contar os caracteres
max(string_qualquer, key=string_qualquer.count)

'a'

In [14]:
lista_qualquer = ['coco', 'coco', 'maçã', 'goiaba']

In [15]:
# Utilizando Counter para identificar o item mais frequente em uma lista
Counter(lista_qualquer).most_common(1)[0][0]

'coco'

In [16]:
# Utilizando max para identificar o item mais frequente em uma lista
max(lista_qualquer, key=lista_qualquer.count)

'coco'

#**Truque 4**

## Utilizando random para selecionar um elemento aleatório em uma lista.

In [17]:
lista_qualquer = ['Margareth', 'Paulo', 'Pedro', 'Maicon', 'Jane']

In [19]:
import random

random.choice(lista_qualquer)

'Maicon'

Observação: 

Não funcionará em uma coleção que não permite indexação.

#**Truque 5**

###  Criando Dicionários a partir de listas.

In [21]:
nomes_quaisquer = ['Margareth', 'Paulo', 'Pedro', 'Maicon', 'Jane']
idades = [25, 22, 36, 18, 41]

In [22]:
# Forma 1
# Utilizando a função zip
dic_idades = dict(zip(nomes_quaisquer, idades))

print(dic_idades)

{'Margareth': 25, 'Paulo': 22, 'Pedro': 36, 'Maicon': 18, 'Jane': 41}

In [23]:
# Utilizando em uma list comprehension for combinado com zip
dict([par for par in zip(nomes_quaisquer, idades)])

{'Jane': 41, 'Maicon': 18, 'Margareth': 25, 'Paulo': 22, 'Pedro': 36}

In [24]:
# Simplificando ainda mais
{k: v for (k, v) in zip(nomes_quaisquer, idades)}

{'Jane': 41, 'Maicon': 18, 'Margareth': 25, 'Paulo': 22, 'Pedro': 36}